<job_conf>
    <plugins workers="4">
        <plugin id="local" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
        <plugin id="pulsar_embedded" type="runner" load="galaxy.jobs.runners.pulsar:PulsarEmbeddedJobRunner">
            <param id="pulsar_config">{{ pulsar_config_path }}</param>
        </plugin>
    </plugins>
    <destinations default="local">
        <destination id="local" runner="local"/>
        <destination id="interactive_local" runner="pulsar_embedded">
            <param id="docker_enabled">true</param>
            <param id="docker_volumes">$defaults</param>
            <param id="docker_sudo">false</param>
            <param id="docker_net">bridge</param>
            <param id="docker_auto_rm">true</param>
            <param id="docker_set_user"></param>
            <param id="require_container">true</param>
            <param id="container_monitor_result">callback</param>
            <!--<env id="REQUESTS_CA_BUNDLE">/etc/ssl/certs/ca-certificates.crt</env>-->
        </destination>
        </destinations>
    <tools>
    {% for it_name in interactive_tools %}
        <tool destination="interactive_local" id="interactive_tool_{{ it_name }}" />
    {% endfor %}
    </tools>
 </job_conf>