<toolbox monitor="true">
    <section id="interactivetools" name="Interactive Tools">
        {% for it_name in interactive_tools %}
        <tool file="interactive/interactivetool_{{ it_name }}.xml" />
        {% endfor %}
    </section>
</toolbox>